.main-box{
  background-color: #effafc;
  min-height: 100vh;
}

.btn{
  color: brown;
  border-radius: 6px;
  border: 2px solid brown;
  background-color: transparent;
  font-size: 18px;

}

.btn:hover{
  color: brown;
  border-radius: 6px;
  border: 2px solid brown;
  background-color: transparent;
  font-size: 18px;
  
}


